[2017-06-30 15:58] bennypowers opened #1 "Tests"
<stripe-elements> should be tested with a mock stripe.js.

_Sent from my LGE Nexus 5 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-15 07:53] togonow opened #2 "error when creating token"
I'm getting an error at the catch error for line 299 of stripe-elements/stripe-elements.html:
 this._stripe.createToken(this._card).then((result) => {

 }).catch((error) => {

}

Uncaught (in promise) Error: You must provide a Stripe Element or a valid token type to create a Token.

[2017-08-15 11:53] bennypowers commented on #2
Please provide steps to reproduce, thanks.

[2017-08-15 21:35] togonow commented on #2
I stripped the project to the bare minimum to simulate the way i'm using it in my project. The temp repository is available at  @ https://github.com/togonow/se
in chrome, i'm getting the same error from /bower_components/stripe-elements line 282 when i press submit:
"We could not retrieve data from the specified Element.
              Please make sure the Element you are attempting to use is still

[2017-08-16 11:24] bennypowers commented on #2
Ok I was able to reproduce. AFAIK this only happens on Polymer 2.0. I'll continue to investigate

[2017-08-16 22:22] togonow commented on #2
Hey, I tried to follow stripe.com guide (quick start code samples) and integrate their snippets in my existing polymer 2 project. I faced the same issue, seems it's related to them using card.mount and polymer 2

[2017-08-17 00:41] togonow commented on #2
Eureka, (i guess) I went thru the freenode #stripe chat history log. @polymer had a working version  on js fiddle back in june 27 https://jsfiddle.net/testing_polymer_2/7r5ajt00/
basicly u have to force shady dom using:
<script>
  ShadyDOM = {
    force: true
  }

</script>
but not sure if that will persist to other components, looking into that!!

![image](https://user-images.githubusercontent.co

[2017-08-21 06:22] bennypowers commented on #2
forcing shady dom is a less-than-ideal solution :/

[2017-08-21 06:59] togonow commented on #2
yeah, i think we need to reach out to the polymer guys, but they hardly respond to tedious issue. I noticed you posted on Stripe freenode, any luck with that?

[2017-08-21 14:03] bennypowers commented on #2
They were unfamiliar with polymer, so they didn't comment. I'd like to find out more about exacly why and how this is failing

[2017-08-23 01:54] nwams commented on #2
I'm also experiencing the "We could not retrieve data from the specified Element. Please make sure the Element you are attempting to use is still mounted" error.

But the error only happens in Chrome. Safari and Firefox work fine and return a token.

[2017-08-23 23:24] togonow commented on #2
Haven't tested outside of chrome, kind of didn't expect it to work anywhere else, will test that tomorrow

[2017-08-24 15:28] nwams commented on #2
@bennypowers curious, do you know what is is that allows your element to still work when I demo it on the [WebComponents site](https://www.webcomponents.org/element/bennypowers/stripe-elements)?

[2017-08-24 15:42] bennypowers commented on #2
@nwams could be that the demo there is running polymer 1

_Sent from my Google Nexus 5 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-24 15:58] nwams commented on #2
@bennypowers I thought the same for a bit, but I checked your bower.json file and I'm also on Polymer 1. Polymer 1 is having the same mounting error for me as well as well. It's difficult for me to tell whether this is a Polymer-specific issue or a Stripe-specific issue.
The strange thing is I had it working a few months ago, then one day all of a sudden, without any changes on my end it started g

[2017-08-24 16:04] bennypowers commented on #2
Try it with shady Dom polyfill. Based on the investigations above it sounds like it might be a shadow Dom thing. Stripe elements are written in react, and at the summit, Rob Dodson published custom elements everywhere, which says react has problems crossing the shadow boundary.

_Sent from my Google Nexus 5 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-30 17:14] nwams commented on #2
@bennypowers I'm not sure how to apply shady Dom polyfill to the stripe-elements in Polymer 1. Do you have an example of how to do this?

[2017-09-06 04:59] bennypowers commented on #2
To enable shady dom in your app, add this to index.html, before you import polymer.html

[code]
It's not perfect but hopefully it will work in a pinch

[2017-09-10 15:11] MrPhishfood commented on #2
Glad I'm not the only one with this bug. It works in Firefox and Edge, but not Chrome and Opera. I also suspect it's happening only on browsers with native shadow DOM.

[2017-09-11 16:13] colincannon-acp opened #3 "Polymer 2.0?"
Any plans of a version for Polymer 2?  I am in dire need, as I am sure a lot of other Polymers are, as I can't get stripev3 to work with Polymer 2.

[2017-09-12 19:50] bennypowers commented on #3
Closed by #4

[2017-09-12 19:50] #3 closed

[2017-09-14 23:36] togonow opened #5 "clear the element numbers after submitting charge"
is there a way to clear the stripe cc numbers after recieving an approved respose for the charge

[2017-09-16 17:39] #5 closed

[2017-09-16 17:39] bennypowers commented on #5
Thanks for the Issue. You can now call stripeElements.reset() to clear the card.

[2017-09-17 22:54] togonow commented on #5
Awesome, thank you sooo much.

[2017-10-03 06:53] mlabarre commented on #2
Generalize Polyfill only for a Stripe problem. It's a dream !

[2017-10-03 17:59] MrPhishfood opened #6 "reset() not working"
Even when I wasn't using this element the clear() method has never worked for me. This is happening on Firefox and Chrome.

I tried `console.log(this._card.clear(), this._card.clear)`
and got this back in response:
`ƒ (){return this._checkDestroyed(),this._frame.clear(),this}`

So it looks like the function does exist but it just doesn't work. Can anyone confirm if this is working for them.

My cu

[2017-10-04 11:21] bennypowers commented on #6
can you provide a jsbin reproduction?

[2017-10-05 14:06] morbidick commented on #2
@mlabarre i started working on a version talking directly with the stripe api, still needs tests but should do the trick for now https://github.com/morbidick/stripe-elements

[2017-10-07 20:18] atifwaqar commented on #2
I am also facing "We could not retrieve data from the specified Element. Please make sure the Element you are attempting to use is still mounted."

[2017-10-07 23:02] morbidick commented on #2
You could take #7 for a spin it uses my before mentioned element as fallback.

[2017-11-02 23:39] dspint commented on #2
You shouldn't need to mess with around ShadyDom polyfills, etc.

This error happens because the Stripe code is looking for the `#card-element` in light dom. Since you're inside a Polymer component, the element is in shadowRoot instead (shadow dom).

So, you can create the insert wrapper dynamically and append to the lightdom instead:

[code]

If `<stripe-elements>` is in turn init inside another c

[2017-11-10 10:12] zbury commented on #2
I came up with a slightly more static approach that I think does the same thing as @dspint's solution. It's far from ideal, but better than forcing the shady DOM polyfill imo.

Instead of "exposing" the DOM that Stripe needs to work correctly by disabling shadow DOM, we can insert the DOM into a top-level element and use a series of cascading [slot elements assigned to a slot](https://www.polymer-

[2017-11-10 18:21] jfdevradius commented on #2
@zbury That solutions works. Thanks.

[2018-01-05 08:20] kangby93 commented on #2
@zbury Your solution work for me as well! Thanks.

[2018-01-13 22:23] bennypowers commented on #2
@zbury please take a look at ddc737250b9a937613133cc9272d9416ab469213 where I apply your solution by automatically generating the slots. I was not quite able to get things running, however:

[code]

Would you be interested in taking a look, maybe issuing a PR?

[2018-01-14 18:40] bennypowers commented on #2
649ea84b1930e6b13aa134e95f739bcd607a8823 Looks like it works. Closing.

[2018-01-14 18:40] #2 closed

[2018-01-15 16:25] bennypowers commented on #6
Closing for now. @MrPhishfood please reopen if the issue persists for you.

[2018-01-15 16:25] #6 closed

[2018-03-30 04:44] bboyrabi opened #8 "doesn't working in Firefox"
As you can see in the title, an error occurred trying to use this component with firefox.
The version of Firefox is 59.0.2 (64bit).
You can check with firefox, please see the [demo](https://www.webcomponents.org/element/bennypowers/stripe-elements/demo/demo/index.html).

Even if you enter Stripe publishable key, card number and press the 'GET TOKEN' button, you can not acquire the token.
Safari an

[2018-03-30 05:57] bennypowers commented on #8
:wave: Hi there, and thanks for the issue!

Do you get any errors in the js console? Have you loaded the webcomponentsjs polyfill? (Which version?)

Can you try enabling web components support in Firefox settings and tell me if it works?

:Point_up: open `about:config` and set `dom.webcomponents.shadowdom.enabled` and `dom.webcomponents.customelements.enabled` to `true`

God willing, I'll be able

[2018-03-30 06:41] bboyrabi commented on #8
Thank you for your prompt reply.

No. Nothing was displayed. Only 'You may test your Stripe.js....must use HTTPS.' was abled to confirm.
handleError method catch an error. This error message is 'We could not retrieve data from the specified Element.\n Please make sure the Element you are attempting to use is still mounted.' but held by toast is 'OK'.
![2018-03-30 15 40 03](https://user-images.gith

[2018-04-03 16:57] bennypowers commented on #8
I investigated a little bit (with firefox' native implementation of web components enabled) and I was able to mount the card and generate a token. Although the demo page didn't look amazing, it did work both on the webcomponents.org demo page and locally.

[2018-04-03 16:57] #8 closed

[2018-08-03 23:42] JGSolutions opened #13 "Add Support for Stripe Payment Request Button"
Hi,

Not sure if this is supported but does the paymentRequestButton feature work?

https://stripe.com/docs/stripe-js/elements/payment-request-button

[2018-08-05 05:26] bennypowers commented on #13
Can you give me some more information?

[2018-08-06 00:54] JGSolutions commented on #13
Not sure what more info you need. Basically my question was if I can get the payment request button feature to work

[2018-08-06 09:17] bennypowers commented on #13
Got it. OK I can look into this

[2018-10-26 13:57] bennypowers opened #14 "Update to ES Modules"
The next major version should ship as a module, not as an HTML import.

Ideally, the component should also ship as a single-file zero-dependency vanilla web component, but that will depend on the implementation - it might be more advantageous to pull in a base class like PolymerElement or (more likely) LitElement or GluonElement

[2018-11-29 21:59] phidias51 opened #15 "Warning about using lineHeight"
I get the following warning about using lineHeight.

controller-83d5c0f16db3a3334e1d41f173fbe61f.js:1 The use of the style property lineHeight is discouraged, because it can lead to visual inconsistencies among various browsers. Consider using a padding on the Element’s container instead.

[2018-11-29 23:29] bennypowers commented on #15
Can you give me a little more info?

[2018-11-29 23:56] phidias51 commented on #15
I put the stripe-elements element into my page, and the warning I described earlier appears in the console. I'm guessing that the lineHeight attribute that you have isn't encouraged: https://github.com/bennypowers/stripe-elements/blob/master/stripe-elements.html#L212

[2019-02-25 18:49] phidias51 opened #16 "Can't Style Error Message"
I've been trying to style the error message, but I can't seem to get it to work.

`
            stripe-element{
                --stripe-elements-invalid-color: white;
            }
`
This doesn't actually turn the error text white. Is there some other selector I should be using?

[2019-03-21 15:02] bennypowers opened #17 "Refactor to LitElement"

[2019-03-21 15:02] bennypowers commented on #14
closing in favour of #17

[2019-03-21 15:02] #14 closed

[2019-03-25 00:53] bennypowers commented on #16
Try with the lit-element branch, should work. God-willing, I'll be publishing that on npm soon.

[code]

Will close now, please reopen if you can reproduce on the lit-element branch.

<img width="515" alt="Screenshot 2019-03-25 02 53 15" src="https://user-images.githubusercontent.com/1466420/54888809-88a1e500-4eb1-11e9-8fc6-aa6fe3bb1a72.png">

[2019-03-25 00:53] #16 closed

[2019-03-25 00:54] bennypowers commented on #1
pretty much closed by #17

[2019-03-25 00:54] #1 closed

[2019-03-25 01:02] bennypowers commented on #15
this should be handled by #17 will close now, please reopen if it becomes an issue with the lit-element version

[2019-03-25 01:02] #15 closed

[2019-03-25 13:16] bennypowers commented on #17
closed by #18

[2019-03-25 13:16] #17 closed

[2019-04-19 06:57] nojvek commented on #2
Using shadowDom, stripe still gives that error `We could not retrieve data from the specified Element. Please make sure the Element you are attempting to use is still mounted.`

[2019-04-19 07:04] bennypowers commented on #2
Thanks @nojvek for the report. I'll check this out after Passover. Please open a new issue with a reproduction.

[2019-04-19 07:05] nojvek commented on #2
Will try to get you a codepen repro

[2019-07-02 13:40] avanderbergh opened #21 "Error in Polymer 3 Element"
Hi, I’m trying to use this in a Polymer 3 Element, however I’m getting the following error:

In the following function, it seems like `firstElementChild` is always `null`?
[code]

After calling `render(template, tmp)`, `tmp` looks like this:
`<div>[object Object]</div>`

Any ideas?

[2019-07-02 19:34] avanderbergh commented on #21
Found a [solution](https://github.com/Polymer/lit-element/issues/390#issuecomment-449588950)!

Just deleted `node_modules` and `package-lock.json` and ran `npm i again`.

[2019-07-02 19:34] #21 closed

[2020-01-08 17:04] calbertuk opened #24 "Received unknown parameters:"
I'm struggling to confirm my card payment using your element

[code]

and I get the following error:
Received unknown parameters: id, object, card, client_ip, created, livemode, type, used

also as a side note, the read me for the lit html example needs to be updated.

[2020-01-08 17:27] calbertuk commented on #24
Turns out you need to pass the token id like so:

[code]

[2020-01-08 17:27] #24 closed

[2020-01-08 18:54] bennypowers commented on #24
Thanks for this issue.

take a look at this implementation:

https://js-kqz87e.stackblitz.io

`<stripe-elements>` currently doesn't have any nice way of doing paymentIntents, but as you've seen, you can piggy back of the element's `stripe` property. (note, you don't have to instantiate stripe yourself, the element has it's own instance)

[2020-01-21 12:31] bennypowers commented on #13
@JGSolutions I'm working on a POC in #25 which you can test out live via the [deploy preview](https://deploy-preview-25--stripe-elements.netlify.com/?path=/docs/stripe-payment-request--enter-a-stripe-publishable-key)

As of a7a823edc2181a7c4c0bc43f1b84dfa73c5250fb (NB: link likely to break when I rebase in the future), the stripe payment request button react component **does** successfully mount i

[2020-01-24 11:14] bennypowers commented on #13
#25 is ready to roll.

If you'd like to give feedback on API surface before release, take a look at the [README.md](https://github.com/bennypowers/stripe-elements/blob/616a2e8a5a49da0bde29a9bf187cdd041eb8a4dc/README.md) and the [Live Demo](https://deploy-preview-25--stripe-elements.netlify.com/?path=/docs/stripe-payment-request--payment-request-with-payment-intent)

:chains: To use the storybook d

[2020-01-25 23:23] #13 closed

[2020-02-08 16:56] bboyrabi opened #33 "Multiple elements forms are not working"
This component is very useful for my project.
My project uses `template-responsive-drawer-layout` of  [PWA Starter Kit(Polymer Project)](https://pwa-starter-kit.polymer-project.org/overview).

I tried this.

[code]
Then two stripe elements are mount for same slot.
 `<slot slot="stripe-card" name="stripe-card"></slot>`.

Result:
![スクリーンショット 2020-02-09 1 36 25](https://user-images.githubusercontent.

[2020-02-08 20:04] bennypowers commented on #33
Yeah I know about this error. The base class that handles the mounting doesn't disambiguate the mount point.

Hopefully I'll get a PR up soon

You can try this workaround in the mean time

[code]

[2020-02-09 10:56] #33 closed

[2020-02-09 10:59] bennypowers commented on #33
:tada: This issue has been resolved in version 2.3.2 :tada:

The release is available on:
- [GitHub release](https://github.com/bennypowers/stripe-elements/releases/tag/v2.3.2)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@power-elements/stripe-elements/v/2.3.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-13 14:34] btopro opened #37 "undefned things in LitElement demos in storybook"
simple addition to the storybook doc
[code]

[2020-02-13 14:38] btopro opened #38 "stripe-payment-request LitElement demo doesn't work like website"
Is there a requirement in local development that won't work without a cert perhaps? I've got my publishable key int he right place and it works in the `stripe-elements` demo.

The `<stripe-payment-request>` on the storybook actually opens up the `stripe-elements` demo

[2020-02-13 19:58] bennypowers commented on #37
Hello Mr Ollendyke it's nice to see you here :D

You mean, I should add those lines to one of the codesandbox demos?

[2020-02-13 20:06] bennypowers commented on #38
payment request api is only available on ssl sites. i haven't found a way to test it out other than deploying to a staging site. maybe a self-signed cert would work

[2020-02-13 20:09] bennypowers commented on #37
Can you tell me if https://github.com/bennypowers/stripe-elements/pull/39/files?short_path=d9ba6be#diff-d9ba6bea5dd398c95af0ac65a26fd27f does the trick?

[2020-02-13 21:08] btopro commented on #37
yup that looks good

[2020-02-13 22:57] #37 closed

[2020-02-13 22:58] bennypowers commented on #38
If it's ok with you i'll close this. Reopen if you have some ideas how to make this work

[2020-02-13 22:58] #38 closed

[2020-02-21 17:37] lpellegr opened #40 "Setting line height for base style is not working"
First of all, thanks for this nice wrapper! Unfortunately, it seems that setting a line-height for the base style with `--stripe-elements-base-line-height` is not working properly. Once set, the stripe-elements element is always growing to 150px in height.

Here is a small example to reproduce the issue:

https://codesandbox.io/s/stripe-elements-web-component-lit-element-42rfv

[2020-02-21 17:43] lpellegr opened #41 "Add custom property to customize placeholder text color"
While investigating the use of this library, I noticed there is no custom property available to customize the color of the text used as a placeholder in Stripe Elements input texts. However, the Stripe examples show that styling for this use case is supported:

https://github.com/stripe/elements-examples/blob/master/js/example2.js#L43

It looks like a common use case when integrating elements in a

[2020-02-21 17:51] lpellegr opened #42 "Removing input box shadow on focus"
Using `--stripe-elements-box-shadow: 0;` removes the default box-shadow around the Stripe Elements input text. However, on input text focus, there is still a shadow that appears. I cannot find a way to remove it using this library. Any ideas?

[2020-02-21 17:55] lpellegr opened #43 "Changing border color on focus or on error"
It seems that existing custom properties allow changing the input text border color for the base style only (with `--stripe-elements-border`) but provides no means to change the border color when the input has focus or the element is in error.

[2020-02-22 20:35] bennypowers commented on #40
Hello!
Thank you for opening this issue, and thank you for providing a reproduction.

I can see that indeed the line-height is set properly:

<img width="1326" alt="Screen Shot 2020-02-22 at 22 22 04" src="https://user-images.githubusercontent.com/1466420/75098733-89139600-55c2-11ea-9c70-cee8329edd3a.png">

Something else is causing the container to take on 150px height. I wasn't yet able to track

[2020-02-22 20:35] bennypowers commented on #41
Should also add one for `padding`

[2020-02-22 20:38] bennypowers commented on #41
I see we're missing also

- fontStyle
- fontWeight
- text_align
- padding

[2020-02-22 20:44] bennypowers commented on #42
Thanks for this issue!

Try this:

[code]
https://codesandbox.io/s/stripe-elements-web-component-lit-element-htq2g

We can take a PR to add a `--stripe-elements-focused-box-shadow` custom property if you can't suffice with shadow parts

[2020-02-22 20:44] #42 closed

[2020-02-22 20:47] bennypowers commented on #43
try this:
[code]

https://codesandbox.io/s/stripe-elements-web-component-lit-element-99vbh

[2020-02-22 20:47] #43 closed

[2020-02-24 08:26] bipana50 opened #45 "the inbuilt submit method of stripe-element doesn't give back token object.."
I am using it in polymer 3 component and the publishable key is not the problem. Doesn't return token but returns pending promise. Am I missing something?

          <stripe-elements
              id="stripe"
              stripe-ready="{{ready}}"
              publishable-key="pk_test_......"
              token="{{token}}"
              error="{{error}}"

    let stripeElement = this.shadowRoot.

[2020-02-24 08:37] bennypowers commented on #45
Hello and thanks for opening this issue.

It's hard to debug without seeing your code, do you have a reproduction you can share?

[2020-02-24 08:57] bennypowers commented on #45
I created this example and it appears to work:

https://codesandbox.io/s/stripe-elements-web-component-polymer-uhyjn

You can base your reproduction off it

[2020-02-24 09:05] bennypowers commented on #45
from the above codesandbox it looks like the token-changed event is not firing for some reason

[2020-02-24 09:29] bipana50 commented on #45
`import { PolymerElement, html } from "@polymer/polymer/polymer-element.js";
import "@vaadin/vaadin-text-field";
import "@polymer/iron-pages/iron-pages.js";
import "@polymer/paper-styles/shadow";
import "@polymer/paper-fab/paper-fab.js";
import { afterNextRender } from "@polymer/polymer/lib/utils/render-status.js";
import "@power-elements/stripe-elements";
import "@aspen-elements/aspen-icons/aspen

[2020-02-24 10:07] bipana50 commented on #45
Hey, thank you for replying

[2020-02-24 10:27] bennypowers commented on #45
I will investigate why the two-way binding isn't working for the `token` property

In the mean time, I suggest you use `on-token="onToken"` and `onToken({ detail: token }) { this.token = token; }` in the mean time

[2020-02-24 11:19] bipana50 commented on #45
I tried on-token attribute as you suggested and its working. Thank you.

[2020-02-24 11:55] bennypowers commented on #45
Glad to hear it.

Let's keep this issue open until I can release a fix for the two-way binding issue

[2020-02-24 13:28] bipana50 commented on #45
Sounds good!

[2020-02-24 14:49] bennypowers commented on #45
I've traced the bug to the `LitNotify` package, which I patch here in stripe-elements. It's only picking up on propertiess declared on the top-level class, but not the base class

[2020-02-24 16:18] #45 closed

[2020-02-24 16:22] bennypowers commented on #37
:tada: This issue has been resolved in version 2.3.4 :tada:

The release is available on:
- [GitHub release](https://github.com/bennypowers/stripe-elements/releases/tag/v2.3.4)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@power-elements/stripe-elements/v/2.3.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-24 16:22] bennypowers commented on #45
:tada: This issue has been resolved in version 2.3.4 :tada:

The release is available on:
- [GitHub release](https://github.com/bennypowers/stripe-elements/releases/tag/v2.3.4)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@power-elements/stripe-elements/v/2.3.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-24 16:38] bennypowers commented on #45
Ok I think the root cause of this particular issue is that unpkg is importing the un-modified version of `@morbidick/lit-element-notify`

I'll send a PR

[2020-02-24 20:51] bennypowers commented on #45
A solution that works with unpkg is waiting on https://github.com/morbidick/lit-element-notify/pull/16

[2020-02-25 04:52] bipana50 commented on #45
Thank you and I will try to use the new version

[2020-02-25 22:37] bennypowers commented on #45
version 2.3.5 fixes this finally

https://codesandbox.io/s/stripe-elements-web-component-polymer-uhyjn

Thanks again for the issue, @bipana50

[2020-03-19 14:24] btopro opened #48 "Create a fallback-element like in the storybook to support all platforms"
Opening issue for tracking based on conversation on slack:

Make an element that's this -- https://bennypowers.dev/stripe-elements/?path=/docs/fallback-to-stripe-elements--falling-back-to-stripe-elements-when-payment-request-is-not-supported

[2020-03-25 17:53] bhtw opened #49 "Missing the important js code (urgent help needed)"
Hi

Thanks for the great repository and hard work.
We are using Vue.js in our project and suddenly after a Vue upgrade stripe stopped working, just returns the error "Make sure the element is still mounted" when calling the function stripe.createPaymentMethod("card", this.cardName).
I contacted Stripe about the issue we have and they recommended your stripe-elements, so I have now spent days in re

[2020-03-25 19:16] bennypowers commented on #49
Hey :wave:

You know it :wink:

Big OOF!

ORLY? :trollface:

That'll work. if you don't need the reference to the class, you can just
[code]
You could also load it in html with
[code]

Here's a [working example](https://codesandbox.io/s/stripe-payment-request-web-component-vue-23edw?from-embed) that fires `payment-method`:

Don't trash talk my fav programming language :wink:

Due to Storybook's li

[2020-03-25 19:39] bennypowers opened #51 "Slots for credit card fields"
GitHub user and web developer @bhtw raises a requirement to render separate inputs a la [this example](https://codepen.io/pigd0g/pen/oNXbKzQ). Stripe.js exposes apis to pull this off. I'd be interested to explore ideas here that add slots for inputs

[code]

[2020-03-25 20:12] bhtw commented on #49
Wow!!
Thanks a lot for your quick response, man!!

I  will dive into your examples first thing in the morning, after a good night sleep - hopefully , thanks to you.

I will let you know as soon as I have gone through your suggestions and solutions and let you know when you can close this "issue".

Thanks !!

[2020-03-26 08:11] bhtw commented on #51
Yes, this sounds just right.
Using slots like this would be a really great feature.
Please do implement this and explain with fully working examples, both HTML and javascript, and maybe even how to style the elements :-)

[2020-03-26 16:13] bhtw commented on #49
Hi again.

I have been trying to understand your examples, but I cannot figure it out.
Could you please elaborate, but first, let me try to explain in more detail about my problem.

In our system, the users must be able to input their credit card details manually and have a button to press after accepting terms etc. So we cannot use the _stripe-payment-request_ method, if I have understood that me

[2020-03-26 21:25] bennypowers commented on #49
If you just want to get a payment method, I already fixed your code. see above https://github.com/bennypowers/stripe-elements/issues/49#issuecomment-604034665

If you have to use your template with the split inputs, you'll need to call createPaymentMethod, You can do that several ways: either through the stripe-elements element's  `createPaymentMethod` method, in which case, the [documentation for

[2020-03-26 21:25] #49 closed

[2020-03-29 15:33] bhtw commented on #49
Hi Benny

I figured it out eventually. So the answer from you that I was looking for could have been very simple, so I will add it here in case others are having the same trouble as I had.

1. Set the attribute _generate="payment-method"_ and listen for the payment-method response from stripe with _@payment-method="onPaymentMethod"_

[code]
2. In the onClick() method when button is clicked, get th

[2020-10-01 10:46] wayne-o commented on #51
Adding this would be amazing - what work would be involved?

[2020-10-01 10:59] bennypowers commented on #51
I imagine there should be some `StripeInput` base class which provides default styles that ape stripe's hosted form.

Then that should be extended for each field with well-known properties (e.g. `value`)

alternatively, there could be a single reusable. This is probably preferable.

[code]
Have at 'em @wayne-o !

keep in mind:
- tests
- a11y
- bundle sizes
- native-HTML-like APIs

[2020-10-01 11:00] bennypowers commented on #51
I suggest [queryAssignedNodes](https://lit-element.polymer-project.org/api/modules/_lit_element_.html#queryassignednodes) decorator to reference the slotted elements

[2020-10-01 13:12] wayne-o commented on #51
I am going to have to have a look through the code as it is and get my head around it first! :)

[2020-10-01 13:14] bennypowers commented on #51
feel free to ping me on polymer slack, or collect your q's here in this thread. I can't guarantee a particular time-to-respond though

[2020-11-04 19:40] Canuckaholic opened #57 "Example of using the stripe-elements component with Stripe's PaymentIntent"
Thanks for this web component!

One request: It would be great to have an example of using the "stripe-elements" component with Stripe's PaymentIntent workflow. My team is struggling a little bit to figure out how to get it working.

Cheers.

[2020-11-05 05:58] bennypowers commented on #57
like this one? https://bennypowers.dev/stripe-elements/?path=/docs/elements-stripe-payment-request--payment-request-with-payment-intent (may need to refresh due to storybook bug)

[2020-11-05 18:01] Canuckaholic commented on #57
Thanks @bennypowers ... That example shows using PaymentIntent with the Payment Request button, but I'm looking for an example using the fallback component. Here is what I did to get it working:

[code]

[2020-11-05 18:11] bennypowers commented on #57
yeah that looks about right at a glance, without getting in to the weeds of how you're managing the `paymentIntentsStore` state or the minutiae of the stripejs api. The general approach - using the element's `stripe` instance to run api calls, is how I would do it too.

[2020-11-05 18:11] bennypowers commented on #57
How's the weather in BC?

[2020-11-05 18:13] Canuckaholic commented on #57
It's raining, of course ;-)

[2020-11-06 18:54] Canuckaholic commented on #57
Hello again @bennypowers ... one more question for you. With the `<stripe-payment-request>` component I'm doing the following:

[code]

I'm following the example you have for using this with a Stripe PaymentIntents. The thing I'm not clear on is what does passing the `client-secret` attribute to the component do since Stripe only needs it when the `confirmCardPayment` method is called?

Thanks!

[2020-11-07 15:57] bennypowers commented on #57
you can do a bunch of stuff with that

https://stripe.com/docs/api/setup_intents/object#setup_intent_object-client_secret

One thing we do is expose confirmCardPayment for you

https://github.com/bennypowers/stripe-elements/blob/208c1593039c6a0b82ed7b618253896ee9209605/src/stripe-payment-request.ts#L458-L463

[2020-11-10 00:33] Canuckaholic commented on #57
Nice. Yes I removed `@payment-method="${this.onPaymentMethod}"` from my `<stripe-payment-request>` component and it works just fine.

So question... why not add a similar `confirmCardPayment` method to the fallback `<stripe-payment>` component as well? And then all we would need to do is provide it the client secret like in the payment request component.

[2020-11-10 08:25] bennypowers commented on #57
Good question, I'm not entirely sure why we don't do that 😂

If you can get it to work, PRs are welcome

[2020-12-30 19:25] superchris opened #58 "Payment request not getting updated on re-renders"
Hello, I'm building a demo for some ecommerce custom elements and was attempting to use stripe-payment-request for the checkout. Everything works well if the `amount` attribute is set on the initial render. However, when the `amount` changes after a user adds an item to the cart, the payment request does not seem to get updated. When I click Pay Now I still see the previous value. I can see the am

[2020-12-30 19:51] bennypowers commented on #58
Thanks for the issue @superchris I'm going to take a look at this just now

[2020-12-30 23:29] #58 closed

[2020-12-30 23:34] bennypowers commented on #58
:tada: This issue has been resolved in version 2.3.8 :tada:

The release is available on:
- [GitHub release](https://github.com/bennypowers/stripe-elements/releases/tag/v2.3.8)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@power-elements/stripe-elements/v/2.3.8)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-12-30 23:51] superchris commented on #58
Thanks, I just checked and it works great!

[2020-12-31 00:11] bennypowers commented on #58
Wonderful. Thanks again for the issue.

[2021-09-08 10:21] PrabhatLokwani opened #64 "Unable to integrate"
Hi
I was trying to implement the library for accepting payment but I am not able to understand the flow of how it works and which methods I have to call for getting payment methods and collecting response after successful payment or failure.

Does somebody has working example so that I can take some hint or If someone help me in figuring out how to implement this

Please help me , I am stuck .
Tha

[2021-09-15 09:36] bennypowers commented on #64
The stripe support channels are great for this. they have extensive docs and the chat room is really helpful

I'm going to close this now because it's related to stripe apis and not the the `<stripe-elements>` custom elements. good luck with your integration

[2021-09-15 09:36] #64 closed

[2022-02-10 19:03] proimage opened #68 "Docs seem broken?"
Eg: https://bennypowers.dev/stripe-elements/?path=/docs/fallback-to-stripe-elements--enter-a-publishable-key

![image](https://user-images.githubusercontent.com/1027523/153478405-c800783a-f06d-4f6c-b03c-ad5374bee899.png)

[2022-02-11 05:43] bennypowers commented on #68
This was solved in #67 which eschews storybook entirely in favour of good-old fashioned HTML.

I had some trouble with semantic release and haven't yet found the time to resolve it.

[2022-02-15 21:30] bennypowers commented on #68
Closed in #71

[2022-02-15 21:30] #68 closed

[2022-03-11 15:37] oscyp opened #80 "PCI Compliance [question]"
Whether using this library breaks the PCI Compliance?

[2022-03-15 01:45] aednzxy opened #82 "Stripe Connect support"
Does this package provide support for Stripe Connected accounts? I believe we just need the ability to set the stripe-account header.

[2022-03-15 04:14] bennypowers commented on #82
PRs are welcome!

[2022-06-08 21:11] k4lu-0p opened #88 "Rollback to ES2019"
Hi @bennypowers ! My project uses ES2019 build. May you rollback to ES2019 build ?

(e.g below of issue with chaining operator missing in ES2019)

![Screenshot 2022-06-08 at 14 15 26](https://user-images.githubusercontent.com/36934787/172717902-35705786-c6cb-4176-aeb9-5ab3f442a036.png)

[2022-06-09 05:29] bennypowers commented on #88
Optional chaining and nullish coalescing are supported from node *14.5*. Current LTS is *16*. On the browser side, since Safari 13 and >20 Chrome and FF versions back.

[2022-06-09 05:29] #88 closed

[2022-06-09 07:53] k4lu-0p commented on #88
Sorry for the missing details. I use your components inside a Vue 2 project. ES2020 features is only available from Vue 3 and upgrade to the 3 version isn't the priority of my company

https://stackoverflow.com/a/67282216

[2022-06-09 12:20] bennypowers commented on #88
This is an issue with Vue

[2022-06-10 06:22] bennypowers opened #89 "Drop Semantic Release and Adopt Changesets"
Semantic release consistently breaks in the middle of release workflow and puts the repo in a weird state.

This repo should drop semantic release and adopt changesets, instead

[2022-08-30 17:22] timsayshey opened #97 "Error: You must provide a Stripe Element or a valid token type to create a Token."
My Vue app is a web component with a shadow dom and I'm using the `stripe-elements` component but after entering the credit card into the form, I grab the `stripe-elements` element and I try to run `stripe.createToken()` and I get the following error:

Here's my app: https://app.ecardwidget.com/widget/5150

![image](https://user-images.githubusercontent.com/1148940/187501989-f6ae81fa-2efc-42a6-a9b

[2022-08-30 17:26] bennypowers commented on #97
Kinda hard to debug this based on just a screenshot, I'm going to need more information. Did you provide a publishable key? How? Can you verify that the element has that key before calling create token?

[2022-08-30 17:30] timsayshey commented on #97
Yes, I provided it, just like in the Vue example you provided. Yes, I verified it.

Does this help?

![image](https://user-images.githubusercontent.com/1148940/187504385-05e724a6-4fcf-456c-8949-7aac67bf72eb.png)

[2022-09-26 19:57] superchris opened #98 "Issues with demo"
Looks like awesome stuff. I saw a couple of issues in the demo:

1. With a wide browser, the styling looked odd.
    - [x] There was no table of contents
    - [x] there were two columns
    - [x] title was in the left column and all of the content was in the right column.
    - [x] When I shrank the width, it seemed to get more normal again.
3. All of the demos after `<stripe-elements>` are faili

[2022-09-29 12:49] #98 closed

[2022-11-21 13:51] mumispb opened #101 "Broken API Docs link"
Hey, everyone!

I think the URL for the API Docs of the library is not currently working. Does anyone have a basic implementation example that you could share?

[2022-11-21 16:21] bennypowers commented on #101
Thanks for the issue

yes, this is because I recently updated my personal site.

in the mean time you can read the docs sources here [in this repo](https://github.com/bennypowers/stripe-elements/blob/main/docs/index.md)

[2022-11-21 16:24] mumispb commented on #101
Thanks a lot!

[2022-11-21 16:24] #101 closed

[2022-11-22 04:09] mumispb opened #102 "Is the Payment Element supported?"
I would like to know whether the `<stripe-elements>` supports the Payment Element (https://stripe.com/docs/payments/payment-element), i.e. if it supports all payment methods available or if it only supports the old card element. Following the React example, I was able to get the card form, but not the payment one.

[2022-11-22 07:24] bennypowers commented on #102
does [`<stripe-payment-request>`](https://github.com/bennypowers/stripe-elements/blob/main/docs/frames/payment-request/with-display-items-and-shipping-options.njk) suit your needs?

[2022-11-22 18:37] mumispb commented on #102
I am considering that one, but for now I would prefer to only be able to save a payment method token to be used later in a transaction just so I can unify user experience with another payment processor. As far as I know, the payment request asks for a payment method, but also triggers the transaction, correct?

[2022-11-23 22:40] alexey432 opened #103 "The documentation website is not working"
https://bennypowers.dev/stripe-elements
The website doesn't work for some reason.

[2022-11-24 09:14] bennypowers commented on #103
#101

[2022-11-24 09:14] #103 closed